.header {
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
    padding: 32px 16px;
    color: $white;
    z-index: 99;
    transition: color 0.3s ease;

    .project-template & {
        color: $black;
    }

    @include media-query($large-up) {
        padding: 42px;
    }

    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        font-family: $calluna;
        color: $bgColor;
        transition: color 0.9s cubic-bezier(0.19, 1, 0.22, 1);

        .about-page & {
            color: $black;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}