/*
============================================================================
Grid Breakpoints and Class Names
  - Do not change the variable names
=============================================================================
*/
$grid-medium: 750px;
$grid-large: 990px;
$grid-widescreen: 1400px;

$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

// The `$breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$breakpoints: (
$small '(max-width: #{$grid-medium - 1})',
$medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
$medium-down '(max-width: #{$grid-large - 1})',
$medium-up '(min-width: #{$grid-medium})',
$large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
$large-down '(max-width: #{$grid-widescreen - 1})',
$large-up '(min-width: #{$grid-large})',
$widescreen '(min-width: #{$grid-widescreen})'
);


$black: #0D1010;
$white: #F4F4F4;
$peach: #F3CFB1;
$gray: #EFEEEE;
$bgColor: #E3E0D7;

$min-width: 320px;
$max-width: 1400px;

@font-face {
	font-family: 'Bison-Bold';
	src: url('../fonts/bison-bold/bison-bold.eot');
	src: url('../fonts/bison-bold/bison-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bison-bold/bison-bold.woff2') format('woff2'),
		url('../fonts/bison-bold/bison-bold.woff') format('woff'),
		url('../fonts/bison-bold/bison-bold.ttf') format('truetype'),
		url('../fonts/bison-bold/bison-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bison-ThickOutline';
	src: url('../fonts/bison-outline/bison-thickoutline.eot');
	src: url('../fonts/bison-outline/bison-thickoutline.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bison-outline/bison-thickoutline.woff2') format('woff2'),
		 url('../fonts/bison-outline/bison-thickoutline.woff') format('woff'),
		 url('../fonts/bison-outline/bison-thickoutline.ttf') format('truetype'),
	     url('../fonts/bison-outline/bison-thickoutline.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

$bisonBold: 'Bison-Bold';
$bisonOutline: 'Bison-ThickOutline';
$calluna: calluna ,serif;
$lapture: jaf-lapture-display,serif;

